/* Add a black background color to the top navigation */
.topnav {
    background-color: #FFF;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #EFE0D9;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 14px 16px;
    margin: 0px 10px;
    text-decoration: none;
    font-size: 17px;
    border: 2px;
    border-style: solid;
    font-size:12px;
    border-radius: 15px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #EFE0D9;
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #EFE0D9;
    color: white;
  }

  img { 
    height:100%; 
    width:auto; 
  }