/* Add a black background color to the top navigation */
#navbar {
    background-color: #FFF;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  #navbar a {
    float: right;
    display: block;
    color: #D4828F;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 14px 16px;
    margin: 0px 10px;
    text-decoration: none;
    font-size: 25px;
    border: 2px;
    border-style: solid;
    font-size:12px;
    border-radius: 15px;
  }
  
  /* Change the color of links on hover */
  #navbar a:hover {
    background-color: #D4828F;
    color: white;
  }
  
  /* Add a color to the active/current link */
  #navbar a.active {
    background-color: #D4828F;
    color: white;
  }

  img { 
    max-width: 100%; 
    display: block;
  }

  